<!doctype html>
<html lang="en" data-ng-app="activitiesApp">
<head>


<meta charset="utf-8">
<title>St. Martin Programs</title>

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/natureOfCase.css">

<link rel="stylesheet" type="text/css"
	href="jqueryui/1.10/theme/smoothness/jquery-ui.css" />

<script type="text/javascript" src="lib/angular/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="ang-ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type="text/javascript" src="jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="lib/angular/ng-grid-2.0.11.debug.js"></script>


<script src="js/natureOfCase.js"></script>
<script src="js/datePicker.js"></script>

</head>
<body data-ng-controller="activitiesStMartin">
    
    <div style="width: 99%; height: 10px"></div>
    <div style="width: 99%; height: 30px"></div>
	
	<div style="width: 99%;">
	  
		<span class="panel panel-primary box-shadow"
			style="display: inline-block; width: 60%;height:230px;" >
			<div class="panel-heading"  style="height:35px;">
				<a class="panel-title">Filter by </a>				
			</div>
			 
			<div class="panel-body" >
			     <div>
			     <span class="formMainSpan" ng-controller="DatepickerDemoCtrl">
			             <span class="subFilterSpanLeft">Start</span>
                         <span class="subFilterSpanRight">
			   			 	 <span>
                		 	   <input style="width:45%;" type="text" ng-change="selectFilter('',dateStart,'','','')" datepicker-popup="{{format}}" ng-model="dateStart" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
             		    	 </span>
             				 <button  vtype="button" ng-click="open($event)" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
             	         </span>
             	 </span> 	
             	 <span class="formMainSpan" ng-controller="DatepickerDemoCtrl">
                        <span class="subFilterSpanLeft">End</span>
			  		    <span class="subFilterSpanRight">
			  		  	  <span>
                      	   <input  style="width:45%;" type="text" ng-change="selectFilter(null,'',dateEnd,'','')" datepicker-popup="{{format}}" ng-model="dateEnd" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                      	  </span>
                      	  <button  vtype="button" ng-click="open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>                
                 </span>
		
			   </div>
			   <div style="width: 99%; height: 15px"></div>
			   <div>
			   <span class="formMainSpan" >
                        <span class="subFilterSpanLeft">Beneficiary</span>
			  		    <span class="subFilterSpanRight">			  		  	  
                      	    <select  data-ng-change="selectFilter(objectBEN,'','','','')" ng-model="objectBEN" ng-options='objectBEN.firstName+" "+objectBEN.lastName for objectBEN in beneficiaries'><option value=""></option></select>
                        </span> 
                </span>	        
                <span class="formMainSpan" >
                        <span class="subFilterSpanLeft">NatureOfCase</span>
			  		    <span class="subFilterSpanRight">			  		  	  
                      	    <select data-ng-change="selectFilter('','','', natureOfCase,'')" ng-model="natureOfCase" ng-options='natureOfCase for natureOfCase in natureOfCasesLista'><option value=""></option></select>
			            </span>                
                </span>	   
			    </div>
			    
			    <div style="width: 99%; height: 15px"></div>
			    
			    <div>
			          
                <span class="formMainSpan" data-ng-show="isCPPR" >
                        <span class="subFilterSpanLeft">Status</span>
			  		    <span class="subFilterSpanRight">			  		  	  
                      	    <select data-ng-change="selectFilter('','','','',status)" ng-model="status" ng-options='status for status in natureOfCasesStatusList'><option value=""></option></select>
			            </span>                
                </span>	
                <span class="formMainSpan" >
			      <span class="subFilterSpanLeft"><i>Quicksearch</i></span>
			      <span class="subFilterSpanRight">	
				 	 <span style="display: inline-block"><input type="text"
						ng-model="filterOptions.filterText" /></span>
				  </span>  
				</span>	   
			    </div>
			    
			    <div style="width: 99%; height: 15px"></div>
			    	
			 
				
			</div>		
				
		 </span>
		 
		 <span class="panel panel-primary box-shadow"
			style="display: inline-block; width: 38%;height:230px; float:right; ">
			<div class="panel-heading" style="height:35px;">
				<a class="panel-title">Perform operations</a>
			</div>

			<div class="panel-body-crud" >
			            <div>
			            <span class="panelBodyCrudSpan">                 		  		  	  
                      	     <button data-ng-click="insertRowButton('')" class="btn btn-primary crudButtons">
									  <span class="glyphicon glyphicon-plus"></span></button>  
				     	</span> 
				        <span class="panelBodyCrudSpan" >                 		  		  	  
                      	      <button data-ng-click="deleteRowButton('')" class="btn btn-primary crudButtons">
						<span  class="glyphicon glyphicon-minus"></span></button>
				     	</span> 
				     	</div>
				     	
				     	<div style="width: 99%; height: 10px"></div>	
				     		     	
				     	 <div>
				     	 <span class="panelBodyCrudSpan" >                 		  		  	  
                      	     <button data-ng-click="selectRowButton('')" class="btn btn-primary crudButtons" >
					        	<span class="glyphicon glyphicon-pencil"></span></button>  
				     	</span> 
				     	 <span class="panelBodyCrudSpan" >                 		  		  	  
                      	     <button data-ng-click="report()" class="btn btn-primary crudButtons" >
						     <span class="glyphicon glyphicon-print"></span></button>
				     	</span> 
				     	</div>                    
					
			</div>	
	 </span>
		 
    </div>	 
	 </div> 
    
   <!-- <div style="width: 99%;">
		<span class="panel panel-primary box-shadow"
			style="display: inline-block;width:100%;">
			<div class="panel-heading">
				<a class="panel-title">Filter by:</a>
			</div>
			
			<div class="panel-body">
			    Beneficiary <select  ng-change="selectFilter(objectBEN,'','','','')" ng-model="objectBEN" ng-options='objectBEN.firstName+" "+objectBEN.lastName for objectBEN in beneficiaries'><option value=""></option></select></select>
			    Period - start date:
			    <span ng-controller="DatepickerDemoCtrl">
                    
			   			 <span>
                		   <input style="width:8%;" type="text" ng-change="selectFilter('',dateStart,'','','')" datepicker-popup="{{format}}" ng-model="dateStart" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
             		     </span>
             			 <button  vtype="button" ng-click="open($event)" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
             		
             	 </span>
             	  &nbsp&nbsp end date:
             	 <span ng-controller="DatepickerDemoCtrl">                   
			  		    <span>
                          <input  style="width:8%;" type="text" ng-change="selectFilter(null,'',dateEnd,'','')" datepicker-popup="{{format}}" ng-model="dateEnd" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                        </span>
                        <button  vtype="button" ng-click="open($event)" class="btn btn-default" "><i class="glyphicon glyphicon-calendar"></i></button>                  
                 </span>
                 &nbsp Nature of case:<select ng-change="selectFilter('','','', natureOfCase,'')" ng-model="natureOfCase" ng-options='natureOfCase for natureOfCase in natureOfCasesLista'><option value=""></option></select></select>
			     <span data-ng-show="isCPPR">Status:</span> <select data-ng-show="isCPPR" data-ng-change="selectFilter('','','','',status)" ng-model="status" ng-options='status for status in natureOfCasesStatusList'><option value=""></option></select>
			
			</div>	
		</span> 
    </div>	 
	
	<div style="width: 99%;">
		<span class="panel panel-primary box-shadow"
			style="display: inline-block; width: 32%; margin-left:0.5%; ">
			<div class="panel-heading">
				<a class="panel-title">Look for nature of case</a>
			</div>

			<div class="panel-body">
				  <span style="display: inline-block"><input type="text"
					ng-model="filterOptions.filterText" /></span>
					
			</div>	
		</span> 
		<span  class="panel panel-primary box-shadow"
			style="display: inline-block; width: 32%; float:left; ">
		     <div class="panel-heading">
				<a class="panel-title">Print list</a>
			</div>
			<div class="panel-body-crud">
				 <button ng-click="" class="btn btn-primary " style="width:20%">
						<span class="glyphicon glyphicon-print"></span>
				 </button>	
			</div>	
		</span>
		<span class="panel panel-primary box-shadow"
			style="display: inline-block; width: 35%;float:right">
			<div class="panel-heading" >
				<a class="panel-title">Perform operations</a>
			</div>
			<div class="panel-body-crud">
				 <span style="display: inline-block">
				    
					<button ng-click="insertRowButton('')" class="btn btn-primary box-shadow">
						  <span 
							class="glyphicon glyphicon-plus"></span>
					</button>
					 <button ng-click="deleteRowButton('')" class="btn btn-primary box-shadow">
						<span 
							class="glyphicon glyphicon-minus"></span>
					</button>				
					
					</span> 
			</div>
		</span>
	</div>-->

<!-- secondGridStyle  ngTopprimaryPanel -->
	<div style="width: 99%" class="gridStyle  box-shadow-primary" data-ng-grid="gridOptions"></div>
    <div>
     <span style="display: inline-block; width: 30% ;">
     	 <button data-ng-click="backButton('')" style="width:20%;" class="btn btn-primary box-shadow">
			<span >Back</span>
		 </button>
      </span> 
    </div>
    <div style="width: 99%; height: 10px"></div>
    
    <script type="text/ng-template" id="myModalContentDelete.html">
      <div class="modal-header">
            <h3 class="modal-title">Delete nature of case</h3>
      </div>
      <div class="modal-body"> 
      Do you really want to delete this case? 
      <input id="activityId" type="text" hidden="true"
				ng-model="items.natureOfCasePerson.natureOfCasePersonId" name="natureOfCaseId"/>
      </div>
      <div class="modal-footer">	
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	<script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
            <h3 class="modal-title">Insert/update nature of case</h3>
      </div>
      <div class="modal-body">
          
		<form name="form" id="insertForm" 
			 novalidate>
            
         <div>                      
           <span class="formMainSpan">
			    <div>
                <span class="subFormSpanLeft">Beneficiary: </span>
                <span class="subFormSpanRight">
                     <select  ng-model="items.objectBEN" ng-options='objectBEN.firstName+" "+objectBEN.lastName for objectBEN in items.beneficiaries'  name="beneficiary" required><option value=""></option></select></select>
                </span>
                </div>
            </span>
            <span class="formMainSpan">
			    <div>
                <span class="subFormSpanLeft">Nature of Case: </span>
                <span class="subFormSpanRight">
                    <select ng-model="items.natureOfCasePerson.natureOfCase" ng-options='obj for obj in items.natureOfCasesList' name="natureOfCase" required><option value=""></option></select></select>
			    
                </span>
                </div>
           </span>
         </div>  
         <div  style="height: 20%;">  <input id="activityId" type="text" hidden="true"
				ng-model="items.natureOfCasePerson.natureOfCasePersonId" /><br /></div>
         <div>                      
           <span class="formMainSpan" ng-show="items.isCPPR">
			    <div>
                <span class="subFormSpanLeft">Status: </span>
                <span class="subFormSpanRight">
                     <select ng-model="items.natureOfCasePerson.status" ng-options='natureOfCaseStatus for natureOfCaseStatus in items.natureOfCasesStatusList'  name="natureOfCaseStatus" required><option value=""></option></select></select>
                </span>
                </div>
            </span>
            <span class="formMainSpan" ng-hide="items.isCPPR">
                 <div>
                 <span class="subFormSpanLeft">Date: </span>
                 <span class="subFormSpanRight" ng-controller="DatepickerDemoCtrl">
                    <div>
                       <span>
                         <input type="text"  datepicker-popup="{{format}}" ng-model="items.date" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" name="natureOfCaseDate" required>
                       </span>
                         <button  vtype="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                       <span>
                       </span>
                  </span>      
                 </span>
                 </div>
             </span>
         </div> 

                     
           
             
         
        

		</form>
	  
        </div>
        <div class="modal-footer">	
            <button class="btn btn-primary" ng-disabled="form.$pristine || form.natureOfCase.$error.required ||
                                                         form.beneficiary.$error.required "
                                                                            ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


</body>
</html>
