<!doctype html>
<html lang="en" ng-app="select">
<head>
<meta charset="utf-8">
<title>St. Martin Project</title>

<!-- CSS -->

<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css">

<script type="text/javascript" src="lib/angular/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="js/selectPeopleCasesActivities.js"></script>


</head>
<body data-ng-controller="selectController">
	<div>
		<div style="width: 99%; height: 50px;"></div>
		<span  style="display: inline-block;width: 35%"></span> 
			<span style="width: 20%"><button
					ng-click="setSelection('NOF')"  class="btn-project btn btn-third">
					<span style="display: inline-block;">Nature of case</span>
				</button></span>
		</div>	
		<div style="width: 99%; height: 50px;"></div>				
		<div style="width: 99%;height:30% ">
			<span  style="display: inline-block;width: 10%"></span> 
			<span style="width: 19%"><button
					ng-click="setSelection('PEO')"  class="btn-project btn btn-primary">
					<span style="display: inline-block;">People</span>
				</button></span>
			<span  style="display: inline-block;width: 20%"></span> 	
			<span ng-show="CPPDenabled" style="width: 20%"><button
					ng-click="setSelection('APP')" style="width: 30%;font-weight: bold;height:100px;" class="btn btn-primary btn-project">
					<span style="display: inline-block;">Appliances/kits</span>
			</button></span>
		</div>
		<div style="width: 99%; height: 50px;"></div>
		<div style="width: 99%;height:30% ">
			<span  style="display: inline-block;width: 35%"></span> 
			<span style="width: 20%"><button
					ng-click="setSelection('ACT')"  class="btn-project btn btn-second">
					<span style="display: inline-block;">Activities</span>
				</button></span>			
		</div>
	</div>
</body>
</html>
