<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>St. Martin Project</title>



</head>
<body>
	<div style="width: 99%; height: 200px;"></div>
		<div style="width: 99%; height: 10%">
			<span style="display: inline-block; width: 45%"></span> <span
				style="width: 99%; height: 5%;">LOGIN PAGE</span>
		</div>
		<div style="width: 99%; height: 30px;"></div>
		<div style="width: 99%; height: 10%">
				<span style="display: inline-block; width: 40%"></span> 
				<span style="display: inline-block; width: 10%">Username:</span>
				<span style="display: inline-block; width: 30%"><input type="text"
					ng-model="username" style="width:34%" /></span>
		</div>
		<div style="width: 99%; height: 10px;"></div>
		<div style="width: 99%; height: 10%">
				<span style="display: inline-block; width: 40%"></span> 
				<span style="display: inline-block; width: 10%">Password:</span>
				<span title="Password" style="display: inline-block; width: 30%"><input type="text"
					ng-model="password"  style="width:34%" /></span>
	    </div>
	    <div style="width: 99%; height: 10px;"></div>
	    <div style="width: 99%; height: 10%">
	    		 <span style="display: inline-block; width: 40%"></span> 	    		 
	    		 <button ng-click="submitOk()" class="btn btn-primary"  style="width:10%">OK
				 </button> 
				 <button ng-click="submitCancel()" class="btn btn-primary " style="width:10%">CANCEL
				 </button>	
	    </div>
</body>
</html>
