.gridStyle {
	border-radius:10 ;
    border: 1px solid #E8332A;
    width: 80%; 
    height: 300px
}

.gridNotesStyle {
	border-radius:10 ;
	border: 1px solid #E8332A;
    width: 70%; 
    height: 150px;
}

.ngFooterPanel   {
  background-color: #fff;
  padding: 0;
  position: relative;
  border-top-color: #E8332A;
}

.ngTopPanel   {
  color: #fff;
  z-index: 1;
  background-color: #E8332A;
  border-bottom: 1px solid #d4d4d4;
}

.ngRow.even {
  background-color: #FADFC4;
}

.ngRow.selected {
  background-color: #CAA99A;
}
.panel-primary {
  border-color: #E8332A;
  background-color: #FADFC4;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #E8332A;
  border-color: #FADFC4;
}

.btn-primary {
  color: #fff;
  background-color: #E8332A;
  border-color: #FADFC4;
}
a {
  color: #E8332A;
  text-decoration: none;
}
