.gridStyle {
	border-radius:5px ;
    border: 2px solid #E9CF5F;
    width: 80%; 
    height: 300px
}

.ngFooterPanel   {
  background-color: #fff;
  padding: 0;
  position: relative;
}

.ngTopPanel   {
  color: #fff;
  z-index: 1;
  background-color: #E9CF5F;
  border-bottom: 1px solid #d4d4d4;
}

.ngRow.even {
  background-color: #F7EEA5;
}

.ngRow.selected {
  background-color: #E9CF5F;
}

.btn-primary {
  color: #F7EEA5;
  background-color: #E9CF5F;
  border-color:  #F7EEA5;
}

.panel-primary {
  border-color: #E9CF5F;
  background-color: #F7EEA5;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #E9CF5F;
  border-color: #F7EEA5;
}

